* {
    font-family: 'Kanit', sans-serif;
}

/* --- Header y Footer --- */

        /* --- Header --- */

        header {
            background-color: #000;
            width: 100%;
            height: 151px;
            position: absolute;
            left: 0px;
            top: 0px;
            background-attachment: fixed;
        }

        .linkbotw {
            position: absolute;
            left: 34px;
            top: 0px;
        }

        .linktotk {
            position: absolute;
            right: 34px;
            top: 0px;
        }

        .logohyrule{
            position: absolute;
            left: 50%;
            transform: translate(-60%);
            top: 12px;
            width: 200px;
            height: 200px;
        }

        .logo{
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: 47px;
        }

            /* --- Logo Animation --- */

            .logo {
                left: 50%;
                transform: translate(-50%);
                animation: logoAppearingRotate 1s 
            }

            @keyframes logoAppearingRotate {
                0% {
                    transform: translate(-50%) scale(0.7) rotate(-10deg);
                    opacity: 0.2;
                }
                60% {
                    transform: translate(-50%) scale(1.15) rotate(10deg);
                    opacity: 1;
                }
                80% {
                    transform: translate(-50%) scale(0.95) rotate(-5deg);
                }
                100% {
                    transform: translate(-50%) scale(1) rotate(0deg);
                }
            }


        .tilde {
            position: absolute;
            left: 45%;
            transform: translate(-45%);
            top: 12px;
        }

            /* --- Tilde Animation --- */

            .tilde {
                left: 45%;
                transform: translate(-45%);
                animation: tildeAppearing 1s 
            }

            @keyframes tildeAppearing{
                0% {
                    transform: scale(0.7);
                    opacity: 0.2;
                }
                60% {
                    transform: scale(1.15);
                    opacity: 0.5;
                }
                80% {
                    transform: scale(0.95);
                    opacity: 0.7;
                }
                100% {
                    transform: scale(1) rotate(0deg);
                    opacity: 1;
                }
            }

        /* --- Footer --- */


        footer{
            background-color: #000;
            width: 100%;
            height: 151px;
            position: absolute;
            left: 0px;
            top: 3600px;
            
        }

        .footertips{
            background-color: #000;
            width: 100%;
            height: 151px;
            position: relative;
        }
        
        .linkbotw2 {
        position: absolute;
        left: 34px;
        bottom: 0px;
        }

        .linktotk2 {
            position: absolute;
            right: 34px;
            bottom: 0px;
        }

        .logo2 {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 12px;
        }

        .tilde2 {
            position: absolute;
            left: 45%;
            transform: translate(-45%);
            bottom: 105px;
        }


/* --- MiniHeader --- */

.miniheader {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 200px;
  flex-wrap: wrap;
}

        /* --- Tips Diseño --- */

        .TipTitle {
            color: #42736E;
            font-weight: 800px;
            font-size: 24px;
            font-family: 'Kanit', sans-serif;
            font-style: italic;
            position: relative;
            top: -25px;
            left: 20px;
        }
        .TipText {
            color: #292929;
            font-size: 20px;
            font-family: 'Kanit', sans-serif;
            position: relative;
            top: -40px;
            left: 20px;
            margin-right: 40px;
        }

        .TipGame{
            color: #B99658;
            font-size: 0.875rem;
            line-height: 1.7142857143;
            font-weight: 300;
            margin-left: 20px;
            margin-top: 20px;
            font-style: italic;
        }

        #Tip{
            background-color: #F4EFE5;
            width: 390px;
            height: 500px;
            border-radius: 20px;
            
        }

                /* --- Tips Animación --- */

                #Tip {
                    background-color: #F4EFE5;
                    width: 391px;
                    height: 494px;
                    border-radius: 20px;
                    transition: transform 0.3s, box-shadow 0.3s;
                }

                #Tip:hover {
                    animation: tipHover 0.3s 0.2s forwards ease-in;
                }

                @keyframes tipHover {
                    0% {
                        transform: translateY(0) scale(1);
                    }
                    100% {
                        transform: scale(1.04) rotate(-2deg);
                        box-shadow: 0 8px 32px rgba(225, 211, 149, 0.4);
                    }
                }

                /* --- 3 Tips Style --- */       

                .Escalada, .Espada{
                    margin-top: 100px;
                }

                .Bienvenida{
                    background-color: #F4EFE5;
                    width: 391px;
                    height: 494px;
                    top: 320px;
                    left: 760px;
                    border-radius: 20px;
                    margin-top: 70px;
                }

                .BienvenidaImage, .EscaladaImage, .EspadaImage{
                    position: relative;
                    left: 20px;
                    top: 20px;
                }

/* --- Tutoriales --- */
            

        /* --- Estilos Predeterminados --- */

        #button{
            width: 655px;
            height: 118px;
            background-color: #1e271cfd;
            border: 8px solid #B99658;
            border-radius: 36px;
            color: #F4EFE5;
            font-size: 56px;
        }

        #EnlaceButton{
            text-decoration: none;
            color: #F4EFE5;
        }


        /* --- Breath of the Wild --- */

        .BotwFoto {
            position: absolute;
            right: 118px;
            top: 1226px;    
            width: 371px;
            height: 371px;
            border-radius: 50%;
        }
        
                /* --- Efecto de giro para BotwFoto --- */

                .BotwFoto {
                    animation: botwFotoRotate 1.6s 1 1s;
                }
                
                @keyframes botwFotoRotate {
                    0% { transform: rotate(0deg); }
                    30% { transform: rotate(10deg); }
                    60% { transform: rotate(0deg); }
                    100% { transform: rotate(0deg); }
                }

                /* --- Efecto hover para BotwFoto --- */

                .BotwFoto:hover {
                    box-shadow: 5px 10px 20px rgba(54, 70, 57, 0.8);
                    animation-play-state: paused;
                    transform: scale(1.5);
                    transform: rotate(-5deg);
                    transition: all 0.3s ease-in-out;
                }

        .Breath{
            position: absolute;
            left: 230px;
            top: 1254px; 
        }

                /* --- Efecto de aparición para Breath --- */
                .Breath {
                    opacity: 1;
                    animation: breathPulse 3s 0.2s
                }
                @keyframes breathPulse {
                    0% {
                        opacity: 0;
                        transform: translateY(40px) scale(0.95);
                    }
                    75% {
                        opacity: 1;
                        transform: translateY(0) scale(1);
                    }
                    
                    90%{
                        opacity: 1;
                        transform: scale(1.05);
                    }

                    100%{
                        opacity: 1;
                        transform: scale(1)
                    }
                }

        .ButtonBreath{
            position: absolute;
            left: 375px;
            top: 1512px;
        }
        
                /* --- Efecto de pulso para el botón --- */

                .ButtonBreath {
                    animation: buttonBPulse 2s 2 normal linear 0.3s;
                }

                @keyframes buttonBPulse {
                    0% { transform: scale(1);}
                    5% { transform: scale(1.06);}
                    30% { transform: scale(1);}
                    100% { transform: scale(1);}
                }

                /* --- Efecto de sombra para el botón --- */

                .ButtonBreath:hover {
                    color: #F4EFE5;
                    box-shadow: 5px 10px 20px rgba(54, 70, 57, 0.8);
                    animation-play-state: paused;
                    transition: all 0.3s ease-in-out;
                }

                /* --- Efecto al presionar el botón --- */

                .ButtonBreath:active{
                    transform: translateY(2px);
                    box-shadow: 0px 4px 8px rgba(54, 70, 57, 0.8);
                    background-color: whitesmoke;
                    border: 8px solid whitesmoke;
                    transition: all 0.1s ease-in-out;
                }


        /* --- Tears of the Kingdom --- */

        .TotkFoto {
            position: absolute;
            left: 118px;
            top: 1741px; 
            width: 371px;
            height: 371px;
            border-radius: 50%;
            animation: totkFotoRotate 1.6s 1 1s;
        }

                /* --- Efecto de giro para TotkFoto --- */

                @keyframes totkFotoRotate {
                    0% { transform: rotate(0deg); }
                    30% { transform: rotate(10deg); }
                    60% { transform: rotate(0deg); }
                    100% { transform: rotate(0deg); }
                }

                /* --- Efecto hover para TotkFoto --- */

                .TotkFoto:hover {
                    box-shadow: 0px 16px 24px rgba(54, 70, 57, 0.8);
                    animation-play-state: paused;
                    transform: scale(1.5);
                    transform: rotate(-5deg);
                    transition: all 0.3s ease-in-out;
                }

        .Tears {
            position: absolute;
            left: 630px;
            top: 1754px; 
            opacity: 1;
            animation: tearsPulse 3s 0.2s;
        }

                /* --- Efecto de aparición para Tears --- */

                @keyframes tearsPulse {
                    0% {
                        opacity: 0;
                        transform: translateY(40px) scale(0.95);
                    }
                    75% {
                        opacity: 1;
                        transform: translateY(0) scale(1);
                    }
                    90%{
                        opacity: 1;
                        transform: scale(1.05);
                    }
                    100%{
                        opacity: 1;
                        transform: scale(1)
                    }
                }



        .ButtonTears {
            position: absolute;
            right: 275px;
            top: 2000px;
        }

                /* --- Efecto de pulso para el botón --- */

                .ButtonTears{
                    animation: buttonTPulse 2s 2 normal linear 0.3s;
                }

                @keyframes buttonTPulse {
                    0% { transform: scale(1);}
                    5% { transform: scale(1.06);}
                    30% { transform: scale(1);}
                    100% { transform: scale(1);}
                }

                /* --- Efecto de sombra para el botón --- */

                .ButtonTears:hover {
                    color: #F4EFE5;
                    box-shadow: 0 8px 20px rgba(54, 70, 57, 0.8);
                    animation-play-state: paused;
                    transition: all 0.3s ease-in-out;
                }

        /* --- Página Tips --- */

        .TipsDiv{
            margin-top: 780px;
        }

        .CenterFoto{
            position: absolute;
            top: 2554px;
            left: 720px;
            border-radius: 50%;
        }

        .CenterText{
            left: 510px;
            position: absolute;
            top: 2954px;
        }

        .CenterButton{
            position: absolute;
            left: 590px;
            top: 3100px;
        }

        .Tutorial{
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translate(-50%);
        }

        .TextoPage{
            position: absolute;
            top: 300px;
            left: 50%;
            transform: translate(-50%);
        }

        .FotoPage{
            position: absolute;
            top: 400px;
            left: 50%;
            transform: translate(-50%);
            border-radius: 50%;
            width: 371px;
            height: auto;
        }

.Tears2{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1754px; 
}

.footer{
    position: absolute;
    left: 0px;
    top: 1600px;
}

                                                                          /* 
                                                                    Menu Page CSS
                                                                          */
.titlemenu{
    position: absolute;
    top: 950px;
    left: 50%;
    transform: translateX(-50%);
    color: #F4EFE5;
    border: 3.5px solid #B99658;
    padding: 20px;
    background-color: rgba(14, 30, 12, 0.9);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.menu-wrapper {
    position: relative;
    top: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.fila {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 240px;
    width: 100%; 
    margin-bottom: 30px;
}

.menu-item {
    flex: 1; 
    max-width: 150px; 
    background-color: rgba(16, 32, 14, 0.8);
    padding: 8px 15px;
    text-align: center;
    color: #F4EFE5;
    font-weight: 550;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #B99658;
}

.menu-item a {
    text-decoration: none;
    color: #F4EFE5;
}

.menu-item:hover {
    background-color: rgba(16, 32, 14, 0.9);
    transform: scale(1.1);
    border-color: #00ffff;
    color: #f0e3cb;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 3px solid #B99658;
}

                                                                            /* 
                                                                    Historia Page CSS
                                                                            */
.Spoiler {
    width: 35%;
    height: auto;
    position: absolute;
    margin-top: 500px;
    margin-bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.historia-container{
    position: absolute;
    margin-top: 160vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F4EFE5;
    border-radius: 20px;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
}
.historia{
    font-size: 22px;
    font-weight: medium;
}

.titlehistoria{
    font-size: 36px;
    font-weight: bold;
}

.historia-container img{
    width: 55%;
    height: auto;
}
