* {
    font-family: 'Kanit', sans-serif;
}

a{
    text-decoration: none;
}
/* --- Estilo del Header --- */

header {
    background-color: #000;
    width: 100%;
    height: 151px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-attachment: fixed;
}

.linkbotw {
    position: absolute;
    left: 34px;
    top: 0px;
}

.linktotk {
    position: absolute;
    right: 34px;
    top: 0px;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 47px;
}

/* --- Logo Animation --- */

.logo {
    left: 50%;
    transform: translate(-50%);
    animation: logoAppearingRotate 1s 
}

@keyframes logoAppearingRotate {
    0% {
        transform: translate(-50%) scale(0.7) rotate(-10deg);
        opacity: 0.2;
    }
    60% {
        transform: translate(-50%) scale(1.15) rotate(10deg);
        opacity: 1;
    }
    80% {
        transform: translate(-50%) scale(0.95) rotate(-5deg);
    }
    100% {
        transform: translate(-50%) scale(1) rotate(0deg);
    }
}

.tilde {
    position: absolute;
    left: 44.7%;
    transform: translate(44.7%);
    top: 12px;
}

/* --- Tilde Animation --- */

.tilde {
    animation: tildeAppearing 1s 
}

@keyframes tildeAppearing{
    0% {
        transform: scale(0.7);
        opacity: 0.2;
    }
    60% {
        transform: scale(1.15);
        opacity: 0.5;
    }
    80% {
        transform: scale(0.95);
        opacity: 0.7;
    }
    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

/* --- MiniHeader --- */

.miniheader {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 200px;
  flex-wrap: wrap;
}

/* --- Tips Diseño --- */

.TipTitle {
    color: #42736E;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    position: relative;
    top: -25px;
    left: 20px;
}
.TipText {
    color: #292929;
    font-size: 19px;
    font-family: 'Kanit', sans-serif;
    position: relative;
    top: -40px;
    left: 20px;
    margin-right: 40px;
}

.TipGame{
    color: #B99658;
    font-size: 12px;
    line-height: 1.7142857143;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 20px;
    font-style: italic;
}

.TipCard{
    background-color: #F4EFE5;
    width: 391px;
    height: 494px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* --- Tips Animación --- */

.TipCard:hover {
    animation: tipHover 0.3s 0.2s forwards ease-in;
}

@keyframes tipHover {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: scale(1.04) rotate(-2deg);
        box-shadow: 0 8px 32px rgba(225, 211, 149, 0.4);
    }
}

/* --- 3 Tips Style --- */       

.Escalada, .Espada{
    margin-top: 100px;
}

.Bienvenida{
    background-color: #F4EFE5;
    width: 391px;
    height: 510px;
    top: 320px;
    left: 760px;
    border-radius: 20px;
    margin-top: 70px;
}

.BienvenidaImage, .EscaladaImage, .EspadaImage{
    position: relative;
    left: 20px;
    top: 20px;
}

/* --- Tutoriales --- */


/* --- Estilos Predeterminados --- */

.GameSection {
display: grid;
align-items: center;
gap: 40px;
margin: 100px auto;
width: 50%;
}

.GameImage {
width: 300px;
height: auto;
border-radius: 50%;
}

.GameTitle {
font-size: 36px;
color: #4c6966;
font-weight: bold;
margin: 0;
}

.GameIntro {
font-size: 18px;
color: #333;
margin-top: 10px;
line-height: 1.6;
max-width: 500px;
}

.GameButton {
    background-color: #1e271cfd;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.GameButton:hover {
    background-color: #616968;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* --- Breath of the Wild --- */

.BotwDiv {
grid-template-columns: 1fr 1fr;
justify-items: end;
background: linear-gradient(90deg, #edffee 5%, #f7fff8 80% ,#fff 90%);
border-radius: 40px;
}

.BotwContent {
text-align: right;
display: flex;
flex-direction: column;
align-items: flex-end;
}

/* --- Tears of the Kingdom --- */

.TotkDiv {
grid-template-columns: 1fr 1fr;
justify-items: start;
background: linear-gradient(90deg, #fff 10%, #f7fff8 20%, #edffee 90%);
border-radius: 40px;
}

.TotkContent {
text-align: left;
display: flex;
flex-direction: column;
align-items: flex-start;
}

/* --- Página Tips --- */

.TipsDiv {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: 5px;
margin: 100px auto;
}

/* --- CSS Páginas de Tutoriales --- */

/* --- Hero --- */

.HeroWrapper {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-top: 200px; 
}

.HeroWrapper img {
max-width: 100%;
height: auto;
border-radius: 50%;
margin-top: 10px;
}

.HeroWrapper p {
color: #42736E;
font-weight: bold;
text-align: center;
margin: 0;
}

.First{
font-size: 56px;
}

.Second{
font-size: 48px;
}

.titlemenu {
  display: inline-block;
  margin: 80px auto 40px auto;
  padding: 12px 30px;
  background-color: #000000; 
  color: #ffffff;
  font-weight: 550;
  font-size: 36px;
  border-radius: 5px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: inherit;
  user-select: none;
}

.titlemenu:hover {  
  font-weight: 700;
  font-size: 37px;
  box-shadow: 0 6px 10px rgba(150, 150, 150, 0.4);
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
  gap: 120px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}

.menu-card {
  background-color: #FDFEFE;
  border-radius: 20px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  padding: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  height: 175px;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-title {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  font-family: 'Kanit', sans-serif;
}

.menu-desc {
  font-size: 17px;
  color: #292929;
  font-family: 'Kanit', sans-serif;
  flex-grow: 1;
  margin-bottom: 20px;
}

.MenuButton {
  background-color: #1e271cfd;
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.MenuButton:hover {
  background-color: #464646;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* --- Los Mejores Tips Página --- */
.tips-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  grid-template-rows: auto; 
  align-items: start;
  justify-items: center;
  width: 70%;
  margin: 0 auto;
}


/* --- Historia Page CSS --- */
.historia-container {
background-color: #f5f0e8;
padding: 15px 30px;
border-radius: 7.5px;
max-width: 750px;
margin: 15px auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 130px;
}

.historia-container p {
font-size: 15px;
line-height: 1.8;
margin-bottom: 1.125em;
text-align: justify;
color: #222;
}

.titlehistoria {
font-size: 19.5px !important;
font-weight: 700;
margin: 1.125em 0 0.6em 0;
color: #333;
}

.historia-container img {
display: block;
max-width: 750px;
margin: 15px auto;
border-radius: 6px;
}

/* --- Collage de la Primera Etapa --- */

.collage {
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 10px;
max-width: 750px;
margin: 20px auto;
}

.collage img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 6px;
}

.img-1 {
grid-column: 1 / 2;
grid-row: 1 / 3;
}

.img-2 {
grid-column: 2 / 3;
grid-row: 1 / 2;
}

.img-3 {
grid-column: 2 / 3;
grid-row: 2 / 3;
}

/* --- Collage de la Segunda Etapa --- */

.collage-container {
display: grid;
grid-template-columns: 1fr 2fr;
gap: 10px;
max-width: 750px;
margin: 20px auto;
}

.collage-left {
display: grid;
grid-template-rows: 1fr 1fr;
gap: 10px;
}

.collage-left img, .collage-right img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 6px;
}

.collage-right {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
}

/* --- Recomendaciones --- */

.RecomContainer {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 1%, #f1f1f1 15%, #f1f1f1 100%);
    align-content: center;
    text-align: center;
    margin-top: 10px;
    padding-top: 115px;
    padding-bottom: 125px;
}

.RecomBig {
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    margin-top: 36px;
}

.RecomSmall {
    font-size: 20px;
    color: #555555;
    margin-top: -22.5px;
}

.RecomCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
}

.RecomCard {
    background-color: #FDFEFE;
    width: 400px;
    height: 145px;
    border-radius: 20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: rgba(16, 32, 14, 0.08) 0px 4px 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.RecomTitle {
    color: #000000;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    margin: 0;
}

.RecomText {
    color: #292929;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    margin: 6px 0 10px 0;
    line-height: 1.4;
    flex-grow: 0;
}

.RecomButton {
    background-color: #1e271cfd;
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 14px;
    font-size: 16px;
    align-self: flex-start;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 12px -3px rgba(0, 0, 0, 0.08);
}

.RecomButton:hover {
    background-color: #616968;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.TimelineTitle{
    font-size: 36px;
    color: #000000;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: 'Kanit', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(50%);
    margin-bottom: 50px;
    margin-top: 50px;
}

.timeline {
  position: relative;
  padding-left: 2rem;
  width: 270px;
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Línea vertical */
.timeline::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, #1E2B20 0%, #3A4F3D 100%);
}


.timeline-item {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 10px; 
    padding: 16px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
    width: 270px;
    height: 100px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.timeline-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}


.timeline-item::before {
    content: '';
    position: absolute;
    top: 1.5rem;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #3B82F6;
    border: 3px solid white;
    box-shadow: 0 0 0 3px #3B82F6;
}

.timelinetitle2{
  font-weight: 600;
  font-size: 18px;
  color: #1f2937;
  margin-top: 0px;
  margin-bottom: 5px;
}

.timelinetext2{
  color: #6b7280; 
  font-size: 14px; 
  margin-top: 0px;
  margin-bottom: 5px;
}

.timeline:not(.branch) .timeline-item::before {
    left: -2.25rem;
}

.timeline.branch .timeline-item::before {
    left: -27px; 
}

.timeline-split {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  margin-bottom: 100px;
}

.split-line {
  height: 4px;
  background-color: #1E2B20;
  border-radius: 2px;
  height: 5px;
  background: linear-gradient(180deg, #1E2B20 0%, #3A4F3D 100%);
}

.split-line.left {
  width: 29.3%;
  margin-right: 4px;
}

.split-line.right {
  width: 70.7%;
  margin-left: 4px;
}

.center-dot {
  position: absolute;
  left: calc(50% - 5px); 
  transform: translateX(-146px); 
  top: -4px;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #3B82F6;
  border: 3px solid white;
  box-shadow: 0 0 0 3px #3B82F6;
}

.split-branches {
  position: relative;
  width: 100%;
  height: 300px; /* o el alto que desees */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.branch-line {
  width: 4px;
  height: 200px;
  background-color: #1a1f1c;
  margin-top: -100px; /* <--- AJUSTA ESTO PARA SUBIRLAS */
}

.branch {
  width: 4px;
  background-color: #1a1f1c;
  position: relative;
}

.branch.left {
  margin-left: calc(29.3% - 2px);
}

.branch.middle {
  margin-right: 4px;
}

.branch.right {
  margin-right: calc(29.3% - 2px); 
}

